<template>
	<nav>
		<ul class="pagination">
			<li class="${currentPage == 0 ? 'disabled' : ''}">
				<a href="#" aria-label="Previous" click.trigger="changePage(currentPage - 1)">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			<li repeat.for="i of numPages">
				<a href="#" click.trigger="$parent.changePage(i)">${i + 1}</a>
			</li>
			<li class="${(currentPage + 1) >= numPages ? 'disabled' : ''}">
				<a href="#" aria-label="Next" click.trigger="changePage(currentPage + 1)">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		</ul>
	</nav>
</template>